
@font-face {
  font-family: 'Berkshire Swash';
  src: url('./assets/font/berkshire/BerkshireSwash-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Définition de la police Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/font/playfair/PlayfairDisplay-VariableFont_wght.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  letter-spacing: 1px;
  line-height:125%;
   /* box-shadow: 0 0 0 3px blue;
  inset: auto;  */
}

/* Police par défaut pour les paragraphes et les liens */
p,
a {
  font-family: "Playfair Display", serif;
}

/* Police par défaut pour les titres h1 à h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Berkshire Swash", cursive;
}
.animate{
  opacity:0;
}

.hero-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./assets/images/image-top.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

